@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="calendar-container">
    @*<h1>Calendar</h1>*@
    <table class="calendar-header">

    </table>

    <table class="calendar-days">

    </table>
</div>
