$font-header-sm: 18px;
$font-header-lg: 24px;

$nav-sm-height: 45px;
$nav-lg-height: 60px;

$drawer-width: 300px;

$calendar-cell-sm-height: 45px;
$calendar-cell-lg-height: 60px;
$calendar-cell-xl-height: 75px;