<div id="nav">
    <div class="nav-header">
        <button id="drawer-btn" class="drawer-btn-container">
            <span class="drawer-btn"></span>
        </buttonid>
        <span class="v-align">Events Calendar</span>
    </div>
</div>

<div id="drawer">
    <div class="nav-header">
        <span class="v-align">Events Calendar</span>
    </div>    
</div>