<div id="nav">
    <div class="nav-header">
        <button id="drawer-btn" class="drawer-btn-container">
            <span class="drawer-btn"></span>
            <span class="drawer-btn"></span>
            <span class="drawer-btn"></span>
        </button>
        <span class="v-align">Events Calendar</span>
    </div>
</div>

<div id="drawer">
    <div class="drawer-content">
        <ul>
            <li>
                <span>Import Events</span>
            </li>
            <li>
                <span>Add Events</span>
            </li>
            <li>
                <span>Show All Events</span>
            </li>
            <li>
                <span>Settings</span>
            </li>
        </ul>
    </div>
</div>